<h1 class="deyatel__h1 h1">
	Область деятельности Центра по оценки профессиональных квалификаций ООО  РУИЦ «Лифтгрузмаш»
</h1>
<div class="deyatel__adress adress">
	350075, Краснодарский край, г. Краснодар, Алтайская ул, дом № 16.
</div>
<div class="deyatel__label label">
	
</div>
<table class="deyatel__table table">
	<tr class="table-tr">
		<td class="table-td">
№<br>п/п
		</td>
		<td class="table-td">
наименования присваиваемых профессиональных квалификаций
		</td>
		<td class="table-td">
профессиональные стандарты
		</td>
		<td class="table-td">
уровни (подуровни) квалификации
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
1
		</td>
		<td class="table-td">
Специалист по организации эксплуатации лифтов
		</td>
		<td class="table-td" rowspan="2">
«Специалист по эксплуатации лифтового оборудования» Приказ Министерства труда и социальной защиты Российской Федерации
от «17» января 2014 г. №18н, Зарегистрировано в Минюсте России 7 марта 2014 г. N 31535,
Номер в реестре профессиональных стандартов 20
		</td>
		<td class="table-td">
6
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
2
		</td>
		<td class="table-td">
Специалист по организации технического обслуживания и ремонта лифтов
		</td>
		<td class="table-td">
6
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
3
		</td>
		<td class="table-td">
Оператор (диспетчер) диспетчерской службы по контролю работы лифтов и инженерного оборудования зданий и сооружений
		</td>
		<td class="table-td">
«Диспетчер аварийно-диспетчерской службы» 
Приказ Министерства труда и социальной защиты Российской Федерации,  от «25» декабря 2014 г. №1120н, Зарегистрировано в Минюсте России 10 февраля 2015 г. N 35956,
Номер в реестре профессиональных стандартов 360
		</td>
		<td class="table-td">
4
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
4
		</td>
		<td class="table-td">
Лифтер
		</td>
		<td class="table-td" rowspan="3">
«Лифтер-оператор по обслуживанию лифтов и платформ подъемных» Приказ Министерства
труда и социальной защиты Российской Федерации от «22» декабря 2014 г. №1082н,
Зарегистрировано в Минюсте России 19.01.2015 N 35563,
Номер в реестре профессиональных стандартов 314
		</td>
		<td class="table-td">
3
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
5
		</td>
		<td class="table-td">
Оператор платформ подъемных для инвалидов
		</td>
		<td class="table-td">
3
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
6
		</td>
		<td class="table-td">
Оператор поэтажного эскалатора (пассажирского конвейера)
		</td>
		<td class="table-td">
3
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
7
		</td>
		<td class="table-td">
Помощник электромеханика по лифтам
		</td>
		<td class="table-td" rowspan="4">
«Электромеханик по лифтам» Приказ Министерства труда и социальной защиты РФ от 20 декабря 2013г. № 754н, Зарегистрировано в Минюсте России 25.02.2014 N 31417, 
Номер в реестре профессиональных стандартов 17
		</td>
		<td class="table-td">
2
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
8
		</td>
		<td class="table-td">
Электромеханик по лифтам
		</td>
		<td class="table-td">
4
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
9
		</td>
		<td class="table-td">
Техник-электромеханик по лифтам
		</td>
		<td class="table-td">
5
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
10
		</td>
		<td class="table-td">
Техник-наладчик электрических подъемников
		</td>
		<td class="table-td">
6
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
11
		</td>
		<td class="table-td">
Электромеханик поэтажных эскалаторов и пассажирских конвейеров
		</td>
		<td class="table-td" rowspan="2">
«Электромеханик по эксплуатации, техническому обслуживанию и ремонту эскалаторов и пассажирских конвейеров» Приказ Министерства труда и социальной защиты Российской Федерации от «26» декабря 2014 г. №1160н, Зарегистрировано в Минюсте России 27 января 2015 г. N 35750,
Номер в реестре профессиональных стандартов 361
		</td>
		<td class="table-td">
4
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
12
		</td>
		<td class="table-td">
Техник-электромеханик поэтажных эскалаторов и пассажирских конвейеров
		</td>
		<td class="table-td">
5
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
13
		</td>
		<td class="table-td">
Монтажник электрических подъемников
		</td>
		<td class="table-td" rowspan="3">
«Монтажник лифтов, платформ подъемных для инвалидов, поэтажных эскалаторов»
Приказ Министерства труда и социальной защиты Российской Федерации от «26» декабря 2014 г. №1178н,
Зарегистрировано в Минюсте России 27 января 2015 г. N35740,
Номер в реестре профессиональных стандартов 403
		</td>
		<td class="table-td">
3
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
14
		</td>
		<td class="table-td">
Техник-монтажник электрических подъемников
		</td>
		<td class="table-td">
4
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
15
		</td>
		<td class="table-td">
Техник-наладчик электрических подъемников
		</td>
		<td class="table-td">
5
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
16
		</td>
		<td class="table-td">
Электромонтер диспетчерского оборудования и телеавтоматики
		</td>
		<td class="table-td" rowspan="2">
«Специалист по оборудованию диспетчерского контроля»
Приказ Министерства труда и социальной защиты Российской Федерации от «25» декабря 2014 г. №1123н,
Зарегистрировано в Минюсте России 26 января 2015 г. N 35729,
Номер в реестре профессиональных стандартов 362
		</td>
		<td class="table-td">
5
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
17
		</td>
		<td class="table-td">
Техник-наладчик диспетчерского оборудования и телеавтоматики
		</td>
		<td class="table-td">
6
		</td>
	</tr>
</table>
<div class="podpis">
Руководитель ЦОК - С.Л. Юров
</div>