Область деятельности Центра по оценки профессиональных квалификаций ООО  РУИЦ «Лифтгрузмаш»
350075, Краснодарский край, г. Краснодар, Алтайская ул, дом № 16.

№ 
п/п
наименования присваиваемых профессиональных квалификаций
профессиональные стандарты
уровни 
(подуровни) квалификации
1
Специалист по организации эксплуатации лифтов
«Специалист по эксплуатации лифтового оборудования» Приказ Министерства труда и социальной защиты Российской Федерации
от «17» января 2014 г. №18н, Зарегистрировано в Минюсте России 7 марта 2014 г. N 31535,
Номер в реестре профессиональных стандартов 20
6
2
Специалист по организации технического обслуживания и ремонта лифтов
6
3


Оператор (диспетчер) диспетчерской службы по контролю работы лифтов и инженерного оборудования зданий и сооружений
«Диспетчер аварийно-диспетчерской службы» 
Приказ Министерства труда и социальной защиты Российской Федерации,  от «25» декабря 2014 г. №1120н, Зарегистрировано в Минюсте России 10 февраля 2015 г. N 35956,
Номер в реестре профессиональных стандартов 360
4


4
Лифтер
«Лифтер-оператор по обслуживанию лифтов и платформ подъемных» Приказ Министерства
труда и социальной защиты Российской Федерации от «22» декабря 2014 г. №1082н,
Зарегистрировано в Минюсте России 19.01.2015 N 35563,
Номер в реестре профессиональных стандартов 314
3
5
Оператор платформ подъемных для инвалидов
3
6
Оператор поэтажного эскалатора (пассажирского конвейера)


3
7
Помощник электромеханика по лифтам
«Электромеханик по лифтам» Приказ Министерства труда и социальной защиты РФ от 20 декабря 2013г. № 754н, Зарегистрировано в Минюсте России 25.02.2014 N 31417, 
Номер в реестре профессиональных стандартов 17
2
8
Электромеханик по лифтам
4
9


Техник-электромеханик по лифтам
5


10
Техник-наладчик электрических подъемников
6
11


Электромеханик поэтажных эскалаторов и пассажирских конвейеров


«Электромеханик по эксплуатации, техническому обслуживанию и ремонту эскалаторов и пассажирских конвейеров» Приказ Министерства труда и социальной защиты Российской Федерации от «26» декабря 2014 г. №1160н, Зарегистрировано в Минюсте России 27 января 2015 г. N 35750,
Номер в реестре профессиональных стандартов 361
4
12
Техник-электромеханик поэтажных эскалаторов и пассажирских конвейеров


5


13
Монтажник электрических подъемников
«Монтажник лифтов, платформ подъемных для инвалидов, поэтажных эскалаторов»
Приказ Министерства труда и социальной защиты Российской Федерации от «26» декабря 2014 г. №1178н,
Зарегистрировано в Минюсте России 27 января 2015 г. N35740,
Номер в реестре профессиональных стандартов 403
3
14
Техник-монтажник электрических подъемников
4
15
Техник-наладчик электрических подъемников
5
16
Электромонтер диспетчерского оборудования и телеавтоматики 
«Специалист по оборудованию диспетчерского контроля»
Приказ Министерства труда и социальной защиты Российской Федерации от «25» декабря 2014 г. №1123н,
Зарегистрировано в Минюсте России 26 января 2015 г. N 35729,
Номер в реестре профессиональных стандартов 362
5



17
Техник-наладчик диспетчерского оборудования и телеавтоматики
6

Руководитель ЦОК_______________С.Л. Юров
