<h2 class="h2 face">
	Антоненков Станислав Сергеевич
</h2>
<div class="text faces-text">
	Эксперт ЦОК
</div>
<div class="text">
Стаж работы 7лет
2010 год КубГТУ. Инженер по специализации Технология машиностроения.
2010 год КубГТУ. Бакалавр техники и технологии по специализации технология, оборудование и автоматизация машиностроительных производств
</div>
<div class="text strong">
	Эксперт по оценке квалификаций,
	Технический эксперт
</div>

<h2 class="h2 face">
	Бронников Михаил Иванович
</h2>
<div class="text faces-text">
	Технический эксперт ЦОК
</div>
<div class="text">
	Стаж работы 15 лет
1987 год. Краснодарский монтажный техникум.
Техник-механик. «Монтаж промышленного оборудования»
</div>
<div class="text strong">
	Технический эксперт
</div>

<h2 class="h2 face">
	Гриднев Александр Кузьмич
</h2>
<div class="text faces-text">
	Эксперт ЦОК
</div>
<div class="text">
	Стаж работы 24 года
1990г. ВЗПИ Инженер – механик.
2010 год  КубГТУ 
ДПО «Технология машиностроения. Технология производства и эксплуатации лифтов»
</div>
<div class="text strong">
	Эксперт по оценке квалификаций,
	Технический эксперт
</div>

<h2 class="h2 face">
	Юров Сергей Львович
</h2>
<div class="text faces-text">
	Руководитель ЦОК
</div>
<div class="text">
	Стаж работы 9 лет
1972 г. Краснодарский политехнический институт Инженер - механик
Технология машиностроения
</div>
<div class="text strong">
	Эксперт по оценке квалификаций,
	Технический эксперт
</div>