<h2 class="h2 forms__h2">
	Формы документов
</h2>
<a href="" class="a">
	Форма Заявление для проведения независимой оценки квалификации от 09.01.2017
</a>
<a href="" class="a">
	Форма Заявка на выписку счета и договора на получение услуг по оценке квалификации от 09.01.2017
</a>
<div class="text">
	<strong class="strong">В Н И М А Н И Е !</strong> Заявка направляется в формате WORD, приложения указанные ниже и копии документов необходимо обязательно предоставить для допуска к сдаче профессионального экзамена (оригинал заявления (форма заявления содержит согласие на обработку персональных данных) и заверенные копии документов необходимо сдать в Центр оценки квалификаций):
— заявление;
— копия паспорта;
— копия диплома;
— копия трудовой книжки или иных эквивалентных документов;
</div>
<div class="italic text forms__italic">
	две цветных фотографии соискателя профессиональной квалификации*
Примечание: * Допустимый размер фото 30 х 40 мм или 40 х 60 мм, срок давности не позднее 3 месяцев; 
Все ксерокопии заверяются подписью с расшифровкой (должность, ФИО) и печатью организации на каждом листе, указывается дата
</div>
<h2 class="h2 forms__h2">
	Сведения о деятельности
</h2>
<div class="text">
	На базе Автономной некоммерческой организации в области сертификации профессиональных  квалификаций «Регистр системы сертификации персонала» (АНО «РССП») создан Центр оценки квалификации в лифтовой отрасли и сфере вертикального транспорта (Приказ АНО «РССП»от 01.03.2016 №3).
Наделение ЦОК полномочиями для осуществления деятельности по оценке квалификаций в лифтовой отрасли и сфере вертикального транспорта осуществляет Совет по профессиональным квалификациям в лифтовой отрасли и сфере вертикального транспорта (договор 12-к от 10.05.2016).
Аттестат соответствия Центра по оценке профессиональных  квалификаций от 18 июля 2016 года № 09-011, выдан  Советом по профессиональным квалификациям в лифтовой отрасли и сфере вертикального транспорта и дает право осуществлять деятельность по оценке и присвоению профессиональных квалификаций в лифтовой отрасли и сфере вертикального транспорта, в соответствии с установленной областью аттестации.
</div>
<h2 class="h2">
	Независимая оценка квалификации
</h2>
<div class="text strong">
	Перечень профессиональных квалификаций, доступных для прохождения по ним процедур оценки и присвоения квалификаций:
</div>
<ol class="ol">
	<li class="li forms__li">
		Специалист по техническому освидетельствованию лифтов;
	</li>
	<li class="li forms__li">
		Специалист по обследованию лифтов;
	</li>
	<li class="li forms__li">
		Специалист по сертификации лифтов и устройств безопасности;
	</li>
	<li class="li forms__li">
		Эксперт по оценке соответствия лифтов;
	</li>
	<li class="li forms__li">
		Эксперт  по сертификации лифтов и устройств безопасности;
	</li>
	<li class="li forms__li">
		Лифтер;
	</li>
	<li class="li forms__li">
		Оператор платформ подъемных для инвалидов;
	</li>
	<li class="li forms__li">
		Оператор поэтажного эскалатора (пассажирского конвейера);
	</li>
	<li class="li forms__li">
		Оператор (диспетчер) диспетчерской службы по контролю работы лифтов и инженерного оборудования зданий и сооружений;
	</li>
	<li class="li forms__li">
		Специалист, по организации эксплуатации лифтов;
	</li>
	<li class="li forms__li">
		Специалист, по организации технического обслуживания и ремонта лифтов;
	</li>
</ol>
<div class="text strong">
	Профессиональные стандарты, определяющих требования к указанным профессиональным квалификациям, их реквизиты:
</div>
<ol class="ol">
	<li class="li forms__li">
		«Специалист по оценке соответствия лифтов требованиям безопасности» Приказ Министерства труда и социальной защиты Российской Федерации от «20» декабря 2013 г. № 756н, Зарегистрирован в Минюсте России 21 февраля 2014 г. N 31394, Номер 15 в реестре профессиональных стандартов;
	</li>
	<li class="li forms__li">
		«Эксперт по оценке соответствия лифтов требованиям безопасности» Приказ Министерства труда и социальной защиты Российской Федерации от «20» декабря 2013 г. № 753н, Зарегистрировано в Минюсте России 21 февраля 2014 г. N 31393, Номер в реестре профессиональных стандартов 16;
	</li>
	<li class="li forms__li">
		«Лифтер-оператор по обслуживанию лифтов и платформ подъемных» Приказ Министерства труда и социальной защиты Российской Федерации от «22» декабря 2014 г. №1082н, Зарегистрирован в Минюсте России 19.01.2015 N 35563, Номер 314 в реестре профессиональных стандартов;
	</li>
	<li class="li forms__li">
		«Диспетчер аварийно-диспетчерской службы» Приказ Министерства труда и социальной защиты Российской Федерации от «25» декабря 2014 г. №1120н, Зарегистрирован в Минюсте России 10 февраля 2015 г. N 35956, Номер 360 в реестре профессиональных стандартов;
	</li>
	<li class="li forms__li">
		«Специалист по эксплуатации лифтового оборудования» Приказ Министерства труда и социальной защиты Российской Федерации от «17» января 2014 г. №18н, Зарегистрирован в Минюсте России 7 марта 2014 г. N 31535, Номер 20 в реестре профессиональных стандартов.
	</li>
</ol>
<div class="text">
	Cоискатель допускается к прохождению процедур по заявленной квалификации при условии соответствия образования и опыта  работы соискателя установленным в профессиональном стандарте требованиям к указанной квалификации.
</div>
<div class="text strong">
	Порядок признания свидетельств и/или иных документов о квалификациях, полученных ранее (перечень признаваемых документов):
</div>
<div class="text">
Признаются действующие сертификаты компетентности, выданные в Системе добровольной сертификации экспертов по сертификации персонала и знак соответствия системы» № РОСС RU.Г071.04.ПЭОО от 17 февраля 2003 года. Реестр доступен по <a class="a a-inline" href="http://rssp.expert.gost.ru/PersonalProfstandardPublic.nsf/MainForm?ReadForm.">ссылке</a>
Официальный источник размещения  профессиональных стандартов, на основе которых сформирована область деятельности ЦОК —  <a href="http://www.rosmintrud.ru" class="a a-inline">сайт Минтруда России</a>
</div>
<div class="text strong">
	Действующие нормативные документы, определяющие процедуры проведения независимой оценки квалификаций:
</div>
<ol class="ol">
	<li class="forms__li">
		Указ 249 от 16.04.2014 «О национальном совете при Президенте РФ по профессиональным квалификациям»;
	</li>
	<li class="forms__li">
		Порядок создания и наделения полномочиями, приостановления и прекращения полномочий СПК;
	</li>
	<li class="forms__li">
		Типовой порядок отбора и прекращения полномочий ЦОК;
	</li>
	<li class="forms__li">
		Типовые требования к ЦОК;
	</li>
	<li class="forms__li">
		Типовые требования к членам квалификационной комиссии ЦОК;
	</li>
	<li class="forms__li">
		Типовая методика определения стоимости работ по оценке квалификации;
	</li>
	<li class="forms__li">
		Решение НСПК по вопросу создания СПК в лифтовой отрасли и сфере вертикального транспорта;
	</li>
	<li class="forms__li">
		Положение о порядке формирования, организации, развития и установления требований и правил независимой оценки профессиональных квалификаций в лифтовой отрасли и сфере вертикального транспорта;
	</li>
	<li class="forms__li">
		Положение о свидетельстве и удостоверении о профессиональной квалификации в лифтовой отрасли и сфере вертикального транспорта;
	</li>
	<li class="forms__li">
		Требования к ЦОК;
	</li>
	<li class="forms__li">
		Порядок отбора и прекращения полномочий центра оценки квалификации;
	</li>
	<li class="forms__li">
		Типовое положение о ЦОК на соответствие профессиональным стандартам в лифтовой отрасли и сфере вертикального транспорта;
	</li>
	<li class="forms__li">
		Требования к членам квалификационной комиссии ЦОК;
	</li>
	<li class="forms__li">
		Положение об информационной открытости деятельности СПК в лифтовой отрасли и сфере вертикального транспорта;
	</li>
	<li class="forms__li">
		Регламент проведения оценки профессиональных квалификаций в лифтовой отрасли и сфере вертикального транспорта;
	</li>
	<li class="forms__li">
		Методика определения стоимости работ по оценке квалификации в лифтовой отрасли и сфере вертикального транспорта;
	</li>
	<li class="forms__li">
		Положение об апелляционной комиссии СПК в лифтовой отрасли и сфере вертикального транспорта по рассмотрению апелляций к ЦОК;
	</li>
	<li class="forms__li">
		Положение о дисциплинарной комиссии СПК в лифтовой отрасли и сфере вертикального транспорта;
	</li>
	<li class="forms__li">
		Положение об экспертах ЦОК по оценке профессиональных квалификаций в лифтовой отрасли и сфере вертикального транспорта;
	</li>
	<li class="forms__li">
		Положение об информационной открытости деятельности ЦОК в лифтовой отрасли и сфере вертикального транспорта;
	</li>
	<li class="forms__li">
		Перечень профессиональных квалификаций СПК в лифтовой отрасли и сфере вертикального транспорта.
	</li>
</ol>
<div class="text strong">
	Информация о Федеральном реестре системы независимой оценки квалификаций
</div>
<ol class="ol ol-strong">
	<li class="forms__li">
		Сведения о деятельности
	</li>
	<li class="forms__li">
		Независимая оценка квалификации
	</li>
	<li class="forms__li">
		Проведение профессионального экзамена
	</li>
	<li class="forms__li">
		Порядок оплаты услуг
	</li>
	<li class="forms__li">
		График проведения профессиональных экзаменов
	</li>
	<li class="forms__li">
		Информация об экспертах
	</li>
	<li class="forms__li">
		Формы документов
	</li>
	<li class="forms__li">
		Контакты
	</li>
	<li class="forms__li">
		Новости
	</li>
</ol>
<h2 class="h2">
	Проведение профессионального экзамена
</h2>
<ol class="ol ol-num">
	<li class="forms__li">
		01 Порядок орг и проведения процедуры оценки, взаимодействие
	</li>
	<li class="forms__li">
		02 Порядок ведения делопроизводства и архива по оценке квалифик
	</li>
	<li class="forms__li">
		03 Альбом форм документов ЦОК
	</li>
	<li class="forms__li">
		04 Порядок рассмотрения жалоб
	</li>
	<li class="forms__li">
		05 Инструкция члена квалификационной комиссии
	</li>
	<li class="forms__li">
		06 Порядок рассмотрения апелляций
	</li>
	<li class="forms__li">
		07 Инструкция НЕТЭЭЛ
	</li>
	<li class="forms__li">
		07 Общая Инструкции при проведении экзаменов
	</li>
	<li class="forms__li">
		07 РССП Инструкция по безопасному ведению работ при проведении проф экзамена в ЭЦ
	</li>
	<li class="forms__li">
		08 Порядок проведения и оформления процедур профессионального экза
	</li>
	<li class="forms__li">
		09 Альбом форм ЭЦ
	</li>
</ol>
<div class="text">
	Организация теоретической и практической частей профессионального экзамена:
программа проведения процедур оценки, в том числе время на выполнение задания;
темы, затрагиваемые в теоретической и практической частях профессионального экзамена;
образцы теоретического и практического задания;
описание системы оценивания выполнения экзаменационных заданий (теоретического и практического), критерии оценки, проходной балл, образец протокола оценки практического задания;
перечень документов, подаваемых соискателем, претендующим на прохождение процедур независимой оценки квалификаций;
образец свидетельства о квалификации и удостоверения о квалификации, выдаваемых по итогам процедур оценки квалификации;
порядок подачи апелляций
размещение примерных оценочных заданий теоретической и практической части профессионального экзамена
график проведения профессиональных экзаменов
</div>
<h2 class="h2">
	Порядок оплаты услуг
</h2>
<div class="text">
	Расчёт стоимости процедур оценки квалификации ЦОК для расчётов с физическими и юридическими лицами проводится в соответствии с Типовой  методикой определения стоимости работ по оценке квалификации.
Форма договора между заявителем (соискателем)  и ЦОК приведена на странице Формы документов.
Стоимость оказания услуг по оценке квалификаций (определяется в соответствии с методикой, утверждённой в СПК), в том числе выдачи дубликата.
Оплата услуг по оценке квалификаций осуществляется безналичным путем перечисления по выставленному счету на расчетный счет организации.
</div>







































































































