<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Центр Оценки Квалификации</title>

	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header>
		
	</header>
		<div class="container-fluid podlog">
			<nav class="navbar container-fluid">
				<div class="container menu">
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<div class="navbar-header menu__li active" data-article="partial-main">
							Центр Оценки Квалификации
						</div>
						<li class="menu__li " data-article="partial-del">
							Область деятельности
						</li>
						<li class="menu__li" data-article="partial-forms">
							Формы документов
						</li>
						<li class="menu__li" data-article="partial-por">
							Проведение ОПК
						</li>
						<li class="menu__li" data-article="partial-info">
							Информация
						</li>
						<li class="menu__li" data-article="partial-treb">
							Требования к квалификациям
						</li>
						<li class="menu__li" data-article="partial-face">
							Эксперты
						</li>
					</ul>
				</div>
					
				</div>
			</nav>
		</div>
		<main class="section-main container-fluid">
			<section class="partial-common container">
				<article class="partial active" data-article="partial-main">
					<!--=include main.html -->
				</article>
				<article class="partial" data-article="partial-del">
					<!--=include deyatel.html -->
				</article>
				<article class="partial" data-article="partial-forms">
					<!--=include forms.html -->
				</article>
				<article class="partial" data-article="partial-por">
					<!--=include poryadok.html -->
				</article>
				<article class="partial" data-article="partial-info">
					<!--=include info.html -->
				</article>
				<article class="partial" data-article="partial-treb">
					<!--=include trebov.html -->
				</article>
				<article class="partial" data-article="partial-face">
					<!--=include faces.html -->
				</article>
			</section>
		</main>















	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="public.js"></script>
</body>
</html>