<header class="info__header">
	<giv class="row">
		<!-- <img src="logo.png" alt="Национальный совет по профессиональным квалификациям" class="info__header__img"> -->
		<h1 class="info__header__text h1">
			Национальный совет при президенте Российской Федерации по профессиональным квалификациям
		</h1>
	</giv>
	<giv class="row">
		<img src="NLS.png" alt="Национальный Лифтовый Союз" class="info__header__img">
		<h1 class="info__header__text h1">
			<p>Национальный Лифтовый Союз</p>
		</h1>
	</giv>
</header>


<p class="text">
	С 1 января 2017 года вступает в силу разработанный Минтрудом России федеральный закон от 3 июля 2016 года №238-ФЗ «О независимой оценке квалификации», который предусматривает формирование объединениями работодателей и профсоюзами системы независимой оценки квалификации на соответствие профессиональным стандартам, основанной на доверии к качеству этой оценки со стороны работодателей и граждан. Предусмотренная законом процедура независимой оценки квалификации,  работников или лиц   претендующих на осуществление определенного вида трудовой деятельности,    квалификационным требованиям  и положениям  установленными профессиональными стандартами  или  федеральными законами и иными нормативными правовыми актами Российской Федерации,  проводится  аттестованными центрами оценки квалификаций.
</p>
<p class="text">
	Совет по профессиональным квалификациям в лифтовой отрасли и сфере вертикального  транспорта, в соответствии с полномочиями наделенными национальным советом при президенте Российской Федерации по профессиональным квалификациям,  аттестовал ООО РУИЦ «Лифтгрузмаш»  в качестве «Центра по оценке профессиональных  квалификаций» (Аттестат соответствия № 09-014 от 20 сентября 2016 года).
</p>
<p class="text">
	Центр оценки профессиональных квалификаций ООО РУИЦ «Лифтгрузмаш» приглашает к сотрудничеству учебные центры, учебные комбинаты, предприятия, управляющие компании. 
</p>
<p class="text-adress adress">
	350075, РФ,  г. Краснодар, ул. Алтайская, 16 
</p>
<p class="text-adress adress">
	тел/факс: (861) 231-70-18,    (861) 231-33-14
</p>
<p class="text-adress adress">
	Е-mail: lgm-krasnоdar@yandex.ru
</p>











       
   

