<h2 class="h2">
	Порядок организации и проведения оценки профессиональных квалификаций
</h2>
<div class="text">
	ЦОК осуществляет оценку профессиональных квалификаций соискателя в соответствии с Регламентом  проведения оценки профессиональных квалификаций  в лифтовой отрасли и сфере вертикального транспорта ВН. ДОК. НЛС-008-2016.
</div>
<div class="text">
	Процедура включает в себя:
</div>
<ol class="ol">
	<li class="forms__li">
		прием и регистрацию заявления на проведение оценки профессиональных квалификаций, согласия на обработку персональных данных и комплекта документов соискателя;
	</li>
	<li class="forms__li">
		рассмотрение заявления и пакета документов соискателя; 
	</li>
	<li class="forms__li">
		принятие решения о допуске / не допуске соискателя к сдаче профессионального экзамена; 
	</li>
	<li class="forms__li">
		заключение договора между заявителем и ЦОК (организацией, на базе которой функционирует ЦОК) на проведение оценки профессиональной квалификации;
	</li>
	<li class="forms__li">
		назначение даты (дат) проведения теоретической и практической частей профессионального экзамена;
	</li>
	<li class="forms__li">
		проведение профессионального экзамена квалификационной комиссией; 
	</li>
	<li class="forms__li">
		оформление свидетельства о профессиональной квалификации установленной формы или уведомление соискателя об отказе в присвоении заявленной им квалификации;
	</li>
	<li class="forms__li">
		регистрация Свидетельства в Федеральном реестре в установленном порядке.
	</li>
</ol>
<div class="text">
	После подачи соискателем комплекта документов и их рассмотрения, ЦОК:
</div>
<ol class="ol">
	<li class="forms__li">
		информирует соискателя о документах, которые необходимо представить дополнительно, если это необходимо; 
	</li>
	<li class="forms__li">
		сообщает соискателю дату (даты) проведения профессионального экзамена и порядок проведения экзаменационных процедур;
	</li>
	<li class="forms__li">
		выдает соискателю направление для сдачи профессионального экзамена при наличии всех необходимых документов.
	</li>
</ol>
<div class="text">
	На основании полного комплекта документов ЦОК формирует личное дело соискателя. 
Срок рассмотрения зарегистрированных документов, принятия решения ЦОК о назначении и проведении профессионального экзамена составляет не более 15 рабочих дней. 
При положительном решении квалификационной комиссии по итогам профессионального экзамена соискателю присваивается профессиональная квалификация и выдается Свидетельство. 
При отрицательных результатах хотя бы одной части профессионального экзамена (теоретической или практической) квалификационная комиссия принимает решение об отказе соискателю в присвоении профессиональной квалификации. 
Информация о принятых решениях ЦОК, дате и времени проведения экзамена доводится до сведения соискателей (заявителя), а также размещается на официальном сайте ЦОК. Оформление документов по итогам профессионального экзамена производится в срок не позднее 10 рабочих дней после сдачи экзамена. 
Передача данных центром оценки квалификации для регистрации свидетельства о квалификации в Федеральном реестре осуществляется в срок не позднее 10 рабочих дней с момента выдачи свидетельства о квалификации.
</div>
<h3 class="h3">
	Порядок подачи апелляций 
</h3>
<div class="text">
	При возникновении спорных вопросов или при несогласии соискателя с результатами оценки профессиональной квалификации он имеет право подать апелляцию на результаты или процедуру экзамена.
</div>
<div class="text">
	 Апелляция должна содержать обоснованные аргументы и требования и подается в случае: 
</div>
<ol class="ol">
	<li class="forms__li">
		отказа соискателю в проведении профессионального  экзамена при соблюдении соискателем условий допуска к процедурам профессионального экзамена;
	</li>
	<li class="forms__li">
		 отказа в выдаче соискателю свидетельства о квалификации при успешном прохождении процедур оценки профессиональной квалификации;
	</li>
	<li class="forms__li">
		 нарушения процедур проведения профессионального экзамена центром оценки квалификации или членом квалификационной комиссии;
	</li>
	<li class="forms__li">
		 вынесения квалификационной комиссией необоснованного решения о результатах профессионального экзамена.
	</li>
</ol>
<div class="text">
	Апелляция рассматривается Апелляционной комиссией СПК в порядке, установленном  Положением об апелляционной комиссии Совета по профессиональным квалификациям в лифтовой отрасли и сфере вертикального транспорта.
</div>