Порядок организации и проведения оценки профессиональных квалификаций
ЦОК осуществляет оценку профессиональных квалификаций соискателя в соответствии с Регламентом  проведения оценки профессиональных квалификаций  в лифтовой отрасли и сфере вертикального транспорта ВН. ДОК. НЛС-008-2016. 
Процедура включает в себя: 
прием и регистрацию заявления на проведение оценки профессиональных квалификаций, согласия на обработку персональных данных и комплекта документов соискателя; 
рассмотрение заявления и пакета документов соискателя; 
принятие решения о допуске / не допуске соискателя к сдаче профессионального экзамена; 
заключение договора между заявителем и ЦОК (организацией, на базе которой функционирует ЦОК) на проведение оценки профессиональной квалификации; 
назначение даты (дат) проведения теоретической и практической частей профессионального экзамена; 
проведение профессионального экзамена квалификационной комиссией; 
оформление свидетельства о профессиональной квалификации установленной формы или уведомление соискателя об отказе в присвоении заявленной им квалификации; 
регистрация Свидетельства в Федеральном реестре в установленном порядке. 
После подачи соискателем комплекта документов и их рассмотрения, ЦОК: 
— информирует соискателя о документах, которые необходимо представить дополнительно, если это необходимо; 
— сообщает соискателю дату (даты) проведения профессионального экзамена и порядок проведения экзаменационных процедур; 
— выдает соискателю направление для сдачи профессионального экзамена при наличии всех необходимых документов. 
На основании полного комплекта документов ЦОК формирует личное дело соискателя. 
Срок рассмотрения зарегистрированных документов, принятия решения ЦОК о назначении и проведении профессионального экзамена составляет не более 15 рабочих дней. 
При положительном решении квалификационной комиссии по итогам профессионального экзамена соискателю присваивается профессиональная квалификация и выдается Свидетельство. 
При отрицательных результатах хотя бы одной части профессионального экзамена (теоретической или практической) квалификационная комиссия принимает решение об отказе соискателю в присвоении профессиональной квалификации. 
Информация о принятых решениях ЦОК, дате и времени проведения экзамена доводится до сведения соискателей (заявителя), а также размещается на официальном сайте ЦОК. Оформление документов по итогам профессионального экзамена производится в срок не позднее 10 рабочих дней после сдачи экзамена. 
Передача данных центром оценки квалификации для регистрации свидетельства о квалификации в Федеральном реестре осуществляется в срок не позднее 10 рабочих дней с момента выдачи свидетельства о квалификации. 
  
Порядок подачи апелляций 
При возникновении спорных вопросов или при несогласии соискателя с результатами оценки профессиональной квалификации он имеет право подать апелляцию на результаты или процедуру экзамена. 
 Апелляция должна содержать обоснованные аргументы и требования и подается в случае: 
 — отказа соискателю в проведении профессионального  экзамена при соблюдении соискателем условий допуска к процедурам профессионального экзамена; 
 — отказа в выдаче соискателю свидетельства о квалификации при успешном прохождении процедур оценки профессиональной квалификации; 
 — нарушения процедур проведения профессионального экзамена центром оценки квалификации или членом квалификационной комиссии; 
 — вынесения квалификационной комиссией необоснованного решения о результатах профессионального экзамена. 
Апелляция рассматривается Апелляционной комиссией СПК в порядке, установленном  Положением об апелляционной комиссии Совета по профессиональным квалификациям в лифтовой отрасли и сфере вертикального транспорта.

