Требования к профессиональным квалификациям.
№
п/п 
Наименование  профессионального стандарта
Присваиваемые квалификации 
Требования к квалификации
Срок действия Свидетельства
Наименование
Уровень


«Электромеханик по лифтам»
Зарегистрировано в Минюсте России 25.02.2014 N 31417,
Номер в реестре профессиональных стандартов 17
Помощник электромеханика по лифтам
2
1. Начальное профессиональное образование по программам подготовки квалифицированных рабочих 
2.Опыт практической работы не менее 1 месяца под руководством квалифицированного электромеханика по лифтам.
3 года


Электромеханик по лифтам
4
1. Начальное профессиональное образование по программам подготовки квалифицированных рабочих 
2.Опыт практической работы не менее 1 месяца под руководством квалифицированного электромеханика по лифтам.
5 лет


Техник-электромеханик по лифтам
5
1.Среднее профессиональное образование по программам подготовки квалифицированных рабочих 
2.Опыт практической работы не менее 1 года в должности электромеханика по лифтам. 
5 лет 


Техник-наладчик по лифтам
6
1.Высшее (бакалавриат) или среднее профессиональное образование по программам подготовки специалистов среднего звена 
2.Опыт практической работы: - не менее 2 лет в должности электромеханика и/или техника-электромеханика по лифтам, - для лиц с высшим профессиональным образованием стаж работы не менее 1 года.
5 лет


«Специалист по оборудованию диспетчерского контроля»
Зарегистрировано в Минюсте России 26 января 2015 г. N 35729,
Номер в реестре профессиональных стандартов 362
Электромонтер диспетчерского оборудования и телеавтоматики
5
1.Начальное профессиональное образование по программам подготовки квалифицированных рабочих
5 лет


Техник-электромонтер диспетчерского оборудования и телеавтоматики
6
1.Среднее профессиональное образование по программам подготовки специалистов среднего звена 
2.Опыт практической работы не менее 1 года в должности электромонтера диспетчерского оборудования и телеавтоматики.
5 лет


Техник-наладчик диспетчерского оборудования и телеавтоматики
6
1.Среднее профессиональное образование по программам подготовки специалистов среднего звена.
2.Опыт практической работы не менее 1 года в должности электромонтера диспетчерского оборудования и телеавтоматики.
5 лет



«Специалист по эксплуатации лифтового оборудования»
Зарегистрировано в Минюсте России 7 марта 2014 г. N 31535,
Номер в реестре профессиональных стандартов 20
Специалист по организации эксплуатации лифтов
6
1. Среднее профессиональное образование по программам подготовки специалистов среднего звена.
5 лет


Специалист по организации технического обслуживания и ремонта лифтов
6
1.Среднее профессиональное образование по программам подготовки специалистов среднего звена.
2.Опыт практической работы по техническому обслуживанию и ремонту лифтов: 
- на базе среднего профессионального образования - не менее 1 года; 
- на базе высшего образования - не менее 6 месяцев.
5 лет
 


«Электромеханик по эксплуатации, техническому обслуживанию и ремонту эскалаторов и пассажирских конвейеров»
Зарегистрировано в Минюсте России 27 января 2015 г. N 35750,
Номер в реестре профессиональных стандартов 361
Электромеханик поэтажных эскалаторов и пассажирских конвейеров
5
1.Среднее профессиональное образование по программам подготовки квалифицированных рабочих, служащих 
2.Опыт практической работы не менее 1 месяца под руководством квалифицированного электромеханика поэтажного эскалатора
5 лет


«Диспетчер аварийно-диспетчерской службы» 
Зарегистрировано в Минюсте России 10 февраля 2015 г. N 35956,
Номер в реестре профессиональных стандартов 360
Оператор (диспетчер) диспетчерской службы по контролю работы лифтов и инженерного оборудования зданий и сооружений
4
1. Начальное профессиональное образование по программам подготовки квалифицированных рабочих, программам переподготовки рабочих. 
2.Опыт практической работы не менее 1 месяца.
5 лет
 


Старший (главный) диспетчер объединенной диспетчерской службы
5
1.Среднее профессиональное образование по программам подготовки специалистов среднего звена. 
2.Опыт практической работы не менее 3 лет в области эксплуатации зданий и сооружений, управления многоквартирными домами или в должности диспетчера.
5 лет


«Лифтер-оператор по обслуживанию лифтов и платформ подъемных»
Зарегистрировано в Минюсте России 19.01.2015 N 35563,
Номер в реестре профессиональных стандартов 314
Лифтер
3
1. Начальное профессиональное образование по программам подготовки квалифицированных рабочих, программам переподготовки рабочих. 
5 лет


Оператор платформ подъемных для инвалидов
3
1. Начальное профессиональное образование по программам подготовки квалифицированных рабочих, программам переподготовки рабочих. 
5 лет


Оператор поэтажного эскалатора (пассажирского конвейера)
3
1. Начальное профессиональное образование по программам подготовки квалифицированных рабочих, программам переподготовки рабочих. 
5 лет


«Монтажник лифтов, платформ подъемных для инвалидов, поэтажных эскалаторов»
Зарегистрировано в Минюсте России 27 января 2015 г. N35740,
Номер в реестре профессиональных стандартов 403
Помощник монтажника электрических подъемников 
3
1. Начальное профессиональное образование по программам подготовки квалифицированных рабочих, программам переподготовки рабочих. 
3 года 


Монтажник электрических подъемников
4
1.Среднее профессиональное образование по программам подготовки квалифицированных работников, служащих.
2.Опыт практической работы не менее 6 месяцев в должности монтажника.
5 лет


Техник-монтажник электрических подъемников
4
1.Среднее профессиональное образование по программам подготовки специалистов среднего звена 
2.Опыт практической работы не менее 6 месяцев в должности монтажника электрических подъемников 
5 лет


Техник-наладчик электрических подъемников
5
1.Среднее профессиональное образование по программам подготовки специалистов среднего звена 
2.Опыт практической работы не менее 6 месяцев в должности монтажника электрических подъемников 
5 лет
