<h2 class="trebov__h2 h2">
	Требования к профессиональным квалификациям.
</h2>
<table class="trebov__table table">
	<tr class="table-tr">
		<td class="table-td" rowspan="2">
№<br>п/п
		</td>
		<td class="table-td" rowspan="2">
Наименование  профессионального стандарта
		</td>
		<td class="table-td" colspan="2">
Присваиваемые квалификации 
		</td>
		<td class="table-td" rowspan="2">
Требования к квалификации
		</td>
		<td class="table-td" rowspan="2">
Срок действия Свидетельства
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
Наименование
		</td>
		<td class="table-td">
Уровень
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
1
		</td>
		<td class="table-td" rowspan="4">
«Электромеханик по лифтам»
Зарегистрировано в Минюсте России 25.02.2014 N 31417,
Номер в реестре профессиональных стандартов 17
		</td>
		<td class="table-td">
Помощник электромеханика по лифтам
		</td>
		<td class="table-td">
2
		</td>
		<td class="table-td">
1. Начальное профессиональное образование по программам подготовки квалифицированных рабочих 
2.Опыт практической работы не менее 1 месяца под руководством квалифицированного электромеханика по лифтам.
		</td>
		<td class="table-td">
3 года
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
2
		</td>
		<td class="table-td">
Электромеханик по лифтам
		</td>
		<td class="table-td">
4
		</td>
		<td class="table-td">
1. Начальное профессиональное образование по программам подготовки квалифицированных рабочих 
2.Опыт практической работы не менее 1 месяца под руководством квалифицированного электромеханика по лифтам.
		</td>
		<td class="table-td">
5 лет
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
3
		</td>
		<td class="table-td">
Техник-электромеханик по лифтам
		</td>
		<td class="table-td">
5
		</td>
		<td class="table-td">
1.Среднее профессиональное образование по программам подготовки квалифицированных рабочих 
2.Опыт практической работы не менее 1 года в должности электромеханика по лифтам.
		</td>
		<td class="table-td">
5 лет
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
4
		</td>
		<td class="table-td">
Техник-наладчик по лифтам
		</td>
		<td class="table-td">
6
		</td>
		<td class="table-td">
1.Высшее (бакалавриат) или среднее профессиональное образование по программам подготовки специалистов среднего звена 
2.Опыт практической работы: - не менее 2 лет в должности электромеханика и/или техника-электромеханика по лифтам, - для лиц с высшим профессиональным образованием стаж работы не менее 1 года.
		</td>
		<td class="table-td">
5 лет
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
5
		</td>
		<td class="table-td" rowspan="3">
«Специалист по оборудованию диспетчерского контроля»
Зарегистрировано в Минюсте России 26 января 2015 г. N 35729,
Номер в реестре профессиональных стандартов 362
		</td>
		<td class="table-td">
Электромонтер диспетчерского оборудования и телеавтоматики
		</td>
		<td class="table-td">
5
		</td>
		<td class="table-td">
1.Начальное профессиональное образование по программам подготовки квалифицированных рабочих
		</td>
		<td class="table-td">
5 лет
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
6
		</td>
		<td class="table-td">
Техник-электромонтер диспетчерского оборудования и телеавтоматики
		</td>
		<td class="table-td">
6
		</td>
		<td class="table-td">
1.Среднее профессиональное образование по программам подготовки специалистов среднего звена
2.Опыт практической работы не менее 1 года в должности электромонтера диспетчерского оборудования и телеавтоматики.
		</td>
		<td class="table-td">
5 лет
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
7
		</td>
		<td class="table-td">
Техник-наладчик диспетчерского оборудования и телеавтоматики
		</td>
		<td class="table-td">
6
		</td>
		<td class="table-td">
1.Среднее профессиональное образование по программам подготовки специалистов среднего звена.
2.Опыт практической работы не менее 1 года в должности электромонтера диспетчерского оборудования и телеавтоматики.
		</td>
		<td class="table-td">
5 лет
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
8
		</td>
		<td class="table-td" rowspan="2">
«Специалист по эксплуатации лифтового оборудования»
Зарегистрировано в Минюсте России 7 марта 2014 г. N 31535,
Номер в реестре профессиональных стандартов 20
		</td>
		<td class="table-td">
Специалист по организации эксплуатации лифтов
		</td>
		<td class="table-td">
6
		</td>
		<td class="table-td">
1. Среднее профессиональное образование по программам подготовки специалистов среднего звена.
		</td>
		<td class="table-td">
5 лет
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
9
		</td>
		<td class="table-td">
Специалист по организации технического обслуживания и ремонта лифтов
		</td>
		<td class="table-td">
6
		</td>
		<td class="table-td">
1.Среднее профессиональное образование по программам подготовки специалистов среднего звена.
2.Опыт практической работы по техническому обслуживанию и ремонту лифтов: 
- на базе среднего профессионального образования - не менее 1 года; 
- на базе высшего образования - не менее 6 месяцев.
		</td>
		<td class="table-td">
5 лет
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
10
		</td>
		<td class="table-td">
«Электромеханик по эксплуатации, техническому обслуживанию и ремонту эскалаторов и пассажирских конвейеров»
Зарегистрировано в Минюсте России 27 января 2015 г. N 35750,
Номер в реестре профессиональных стандартов 361
		</td>
		<td class="table-td">
Электромеханик поэтажных эскалаторов и пассажирских конвейеров
		</td>
		<td class="table-td">
5
		</td>
		<td class="table-td">
1.Среднее профессиональное образование по программам подготовки квалифицированных рабочих, служащих
2.Опыт практической работы не менее 1 месяца под руководством квалифицированного электромеханика поэтажного эскалатора
		</td>
		<td class="table-td">
5 лет
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
11
		</td>
		<td class="table-td" rowspan="2">
«Диспетчер аварийно-диспетчерской службы» 
Зарегистрировано в Минюсте России 10 февраля 2015 г. N 35956,
Номер в реестре профессиональных стандартов 360
		</td>
		<td class="table-td">
Оператор (диспетчер) диспетчерской службы по контролю работы лифтов и инженерного оборудования зданий и сооружений
		</td>
		<td class="table-td">
4
		</td>
		<td class="table-td">
1.Начальное профессиональное образование по программам подготовки квалифицированных рабочих, программам переподготовки рабочих.
2.Опыт практической работы не менее 1 месяца.
		</td>
		<td class="table-td">
5 лет
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
12
		</td>
		<td class="table-td">
Старший (главный) диспетчер объединенной диспетчерской службы
		</td>
		<td class="table-td">
5
		</td>
		<td class="table-td">
1.Среднее профессиональное образование по программам подготовки специалистов среднего звена.
2.Опыт практической работы не менее 3 лет в области эксплуатации зданий и сооружений, управления многоквартирными домами или в должности диспетчера.
		</td>
		<td class="table-td">
5 лет
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
13
		</td>
		<td class="table-td" rowspan="3">
«Лифтер-оператор по обслуживанию лифтов и платформ подъемных»
Зарегистрировано в Минюсте России 19.01.2015 N 35563,
Номер в реестре профессиональных стандартов 314
		</td>
		<td class="table-td">
Лифтер
		</td>
		<td class="table-td">
3
		</td>
		<td class="table-td">
1. Начальное профессиональное образование по программам подготовки квалифицированных рабочих, программам переподготовки рабочих. 
		</td>
		<td class="table-td">
5 лет
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
14
		</td>
		<td class="table-td">
Оператор платформ подъемных для инвалидов
		</td>
		<td class="table-td">
3
		</td>
		<td class="table-td">
1. Начальное профессиональное образование по программам подготовки квалифицированных рабочих, программам переподготовки рабочих. 
		</td>
		<td class="table-td">
5 лет
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
15
		</td>
		<td class="table-td">
Оператор поэтажного эскалатора (пассажирского конвейера)
		</td>
		<td class="table-td">
3
		</td>
		<td class="table-td">
1. Начальное профессиональное образование по программам подготовки квалифицированных рабочих, программам переподготовки рабочих. 
		</td>
		<td class="table-td">
5 лет
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
16
		</td>
		<td class="table-td" rowspan="4">
«Монтажник лифтов, платформ подъемных для инвалидов, поэтажных эскалаторов»
Зарегистрировано в Минюсте России 27 января 2015 г. N35740,
Номер в реестре профессиональных стандартов 403
		</td>
		<td class="table-td">
Помощник монтажника электрических подъемников 
		</td>
		<td class="table-td">
3
		</td>
		<td class="table-td">
1. Начальное профессиональное образование по программам подготовки квалифицированных рабочих, программам переподготовки рабочих. 
		</td>
		<td class="table-td">
3 года
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
17
		</td>
		<td class="table-td">
Монтажник электрических подъемников
		</td>
		<td class="table-td">
4
		</td>
		<td class="table-td">
1.Среднее профессиональное образование по программам подготовки квалифицированных работников, служащих.
2.Опыт практической работы не менее 6 месяцев в должности монтажника.
		</td>
		<td class="table-td">
5 лет
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
18
		</td>
		<td class="table-td">
Техник-монтажник электрических подъемников
		</td>
		<td class="table-td">
4
		</td>
		<td class="table-td">
1.Среднее профессиональное образование по программам подготовки специалистов среднего звена
2.Опыт практической работы не менее 6 месяцев в должности монтажника электрических подъемников 
		</td>
		<td class="table-td">
5 лет
		</td>
	</tr>
	<tr class="table-tr">
		<td class="table-td">
19
		</td>
		<td class="table-td">
Техник-наладчик электрических подъемников
		</td>
		<td class="table-td">
5
		</td>
		<td class="table-td">
1.Среднее профессиональное образование по программам подготовки специалистов среднего звена
2.Опыт практической работы не менее 6 месяцев в должности монтажника электрических подъемников
		</td>
		<td class="table-td">
5 лет
		</td>
	</tr>
</table>